/* === Estio da box do TipTap === */
#editor {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.8rem;
  overflow: hidden;
}

#box-tiptap {
  width: 100%;
  height: 100%;
  max-height: 100%;
  overflow: auto;
}

/* === Botões === */
#editor button {
  width: 3.2rem;
  height: 3.2rem;
  background-color: var(--dark);
  color: var(--light);
  padding: 0.4rem;
  border-radius: 0.4rem;
  cursor: pointer;
  transition: all 0.3s ease;
}

#editor button.is-active {
  background-color: var(--pink);
}

/* === Tipografia para TipTap === */
.tiptap h1,
.tiptap h2,
.tiptap h3 {
  color: var(--light);
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

.tiptap p {
  color: var(--light);
  font-weight: lighter;
  margin-top: 0.4rem;
  margin-bottom: 0.8rem;
}

/* === Listas === */
.tiptap ul,
.tiptap ol {
  color: var(--light);
  padding: 0.2rem;
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  list-style-position: inside;
}

.tiptap ul {
  list-style-type: disc;
}

.tiptap ol {
  list-style-type: decimal;
}

.tiptap ul li p,
.tiptap ol li p {
  font-size: 1.4rem;
  font-weight: 400;
  margin: 0.4rem 0rem;
}

.tiptap ul[data-type="taskList"] {
  list-style: none;
}

.tiptap ul[data-type="taskList"] li {
  display: flex;
  align-items: flex-start;
}

.tiptap ul[data-type="taskList"] li > label {
  flex: 0 0 auto;
  margin-top: 0.4rem;
  margin-right: 0.8rem;
  user-select: none;
}

.tiptap ul[data-type="taskList"] input[type="checkbox"] {
  width: 1.4rem;
  height: 1.4rem;
  cursor: pointer;
  overflow: hidden;
  color: var(--light);
  border-radius: 0.4rem;
  background-color: var(--pink);
  transition: all 0.3 ease-in;
}

.tiptap
  ul[data-type="taskList"]
  li[data-checked="false"]
  input[type="checkbox"] {
  background-color: var(--pink);
}

.tiptap ul[data-type="taskList"] li > div {
  flex-grow: 1;
}

.tiptap ul[data-type="taskList"] li > div p {
  margin: 0.4rem 0rem;
}

.tiptap ul[data-type="taskList"] li > div ul[data-type="taskList"] {
  margin: 0.4rem 0rem;
}

/* === Código === */
.tiptap code {
  background-color: var(--sub-300);
  border: 0.1rem solid var(--sub-200);
  border-radius: 0.4rem;
  color: var(--light);
  padding: 0.4rem 0.8rem;
  font-family: "Hack";
  margin-top: 0.4rem;
  margin-bottom: 1rem;
}

/* === Links === */
.tiptap .tiptap-link {
  color: var(--pollen);
  margin-top: 0.4rem;
  margin-bottom: 1rem;
  text-decoration: underline;
}

.toolbar {
  position: relative;
}

#editor .drop-link {
  z-index: 20;
  position: absolute;
  top: 3.2rem;
  background: var(--dark);
  border-radius: 0.4rem;
  border: 0.1rem solid var(--sub-200);
}

#editor .form-link {
  padding: 0.8rem;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 0.8rem;
}

/* === Placeholder do Editor === */
.tiptap p.is-empty::before,
.tiptap h1.is-empty::before {
  content: attr(data-placeholder);
  color: var(--sub-100);
  float: left;
  height: 0;
  pointer-events: none;
  padding-left: 0.4rem;
}
